include LICENSE README.md CHANGELOG.md CONTRIBUTING.md SECURITY.md mkdocs.yml
recursive-include pygent *.py py.typed
recursive-include tests *.py
recursive-include examples *.py *.toml *.txt
recursive-include docs *.md *.yaml *.css *.js *.png CNAME
